.course-nav-box{width:100%;min-width:1200px;background-color:#fff;}
.course-nav-row{width:1200px;padding:16px 0 5px;margin:0 auto;background-color:#fff;}
.course-title{float:left;width:52px;height:20px;line-height:30px;font-weight:700;font-size:14px;color:#07111b;text-align:right;}
.course-nav-list{float:left;margin-left:20px;}
.course-nav-item{display:inline-block;margin:0 6px;}
.course-nav-item a{display:block;line-height:14px;margin-bottom:10px;padding:9px 12px;font-size:14px;}
.course-nav-item.active a{background-color:#EC1500;color:#fff;}
.course-nav-item.active a:hover{color:#fff;}
.course-nav-item a:hover{color:#EC1500}
.course-toolbar{width:1200px;margin:0 auto;background-color:#EDEFF0;padding:26px 0 16px;}
.course-toolbar-left{float:left;}
.course-toolbar-left a{margin:0 12px;line-height:14px;font-size:14px;color:#787d82;}
.sort-item.active{color:#f01414;}
.course-toolbar-right{float:right;color:#787d82;line-height:20px;}
.current-num{color:#f01414}
.course-list-container{width:1200px;overflow:hidden;margin:0 auto;padding: 10px 0 20px;}
.course-list{width:1220px;}
.course-list-item{float:left;margin:10px;background-color:#fff;-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);}
.course-list-item a{position:relative;display:block;width: 224px;height: 172px;overflow:hidden;}
.course-list-item a:hover .course-list-item-desc{top:20px;}
.course-list-item a img{height:124px;width:100%;}
.course-list-item-desc{box-sizing:border-box;position:absolute;padding:0 20px;transition:top .5s;top:65px;height:144px;width:100%;background:url(../img/bg-course.png) no-repeat;background-size:100% 100%;}
.course-list-item-desc h3{ margin: 0;padding: 16px 0 6px;font-size: 14px;max-height: 40px;overflow: hidden;color: #07111b;line-height: 21px;}
.course-list-item-desc h3 i{float:left;margin-top: 2px;margin-right: 4px;padding: 2px;font-style: normal;font-size: 12px;color: #fff;line-height: 12px;border-radius: 1px;background-color: #93999f;}
.course-list-item-desc p{ color: #93999f;font-size: 12px;height: 40px;overflow: hidden;line-height: 20px;}
.course-list-item-bottom{position:absolute;bottom:0;width:100%;height:42px;line-height:36px;padding:0 20px;box-sizing:border-box;background-color:#fff;color:#93999f;font-size:12px;}
.learn-num{float:left;}
