.wrapper-black{width:auto;min-width:1200px;background-color:#000000;}
.wrapper-gray{width:auto;min-width:1200px;background-color:#EDEFF0;}
.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
