.footer{padding:27px 0;}
.footer-container{width:1200px;margin:0 auto;}
.footer-left{float:left;padding-left:40px;}
.footer-left ul{display:block;margin-bottom:4px;line-height:1.8;}
.footer-left ul li{float:none;display:inline-block;margin-right:30px;line-height:1.8}
.footer-left ul li a{color:#c8cdd2;}
.footer-left ul li a:hover{color:#fff;}
.footer-left p{line-height:1.7}
.footer-right{float:right}
.footer-right a{position:relative;display:block;float:left;width:32px;height:32px;margin:3px 6px 0;background-image:url("../../img/footer-sprite.png");background-repeat:no-repeat;opacity:0.5;filter:alpha(opacity=50);}
.footer-right a:hover{opacity:1;filter:alpha(opacity=100)}
.footer-right a:first-child{background-position:0 -279px;}
.footer-right a:first-child:hover .weixin{display:block;}
.footer-right a:nth-child(2){background-position:0 -321px}
.footer-right a:nth-child(3){background-position:0 -363px;}
.weixin{display:none;position:absolute;width:170px;height:220px;left:-69px;bottom:35px;background:url("../../img/footer-sprite.png") no-repeat;}